@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* input:is(:-webkit-autofill, :autofill) {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  background-color: bg-gray-800 !important;
  -webkit-text-fill-color: #333 !important; 
  border: 1px solid #ccc;
} */